.git
.github
.gitignore
.superpowers
.apifox
.env
.env.*
.idea
.vscode
**/.DS_Store
**/*.log
**/*.db
**/*.db-shm
**/*.db-wal
**/node_modules
frontend/dist
frontend/coverage
frontend/*.tsbuildinfo
backend/bin
backend/coverage.out
backend/bytemuse
backend/bytemuse.exe
未加密代码
.worktrees
worktrees
